.contact-form {
    & input {
        border-radius:0;
        margin-bottom:1rem;
        padding:0.75rem;
        height: calc(2.5em + .75rem + 2px);
        border:0;
    } 
    & select {
        border-radius:0;
        margin-bottom:1rem;
        padding:0.75rem;
        height: calc(2.5em + .75rem + 2px);
        border:0;
    }
    & textarea {
        border-radius:0;
        margin-bottom:1rem;
        padding:0.75rem;
        border:0;
        height: 16.55rem;
    }
    & .btn-submit {
        background:$dark-gold;
        color:$white;
        font-family: 'Cinzel', serif;
        padding: 1rem 5rem;
        margin: 1.2rem 0 1.4rem 0;
        &:hover {
            background:$darker-gold;
        }
        &:focus {
            box-shadow: none;
        }
    }
    & .col-lg-6 {
        padding-left:9px;
        padding-right:9px;
    }
}
